body{
    background-size:2000px 1000px;
    background-repeat: no-repeat;
    text-align: center;
    background-image:url(back.jpeg);
}
h1{
    text-align: center;
    background-color: purple;
    margin-left: 20px;
    font-family: 'Times New Roman', Times, serif;
    
}
#mains{
    display:grid;
    height:200px;
    width:1050px; 
    padding-left:800px;
}
h2{
    text-align:center;
}
#grid{
    display:grid;
    height:300px;
    width:600px;
    grid-template-columns: auto auto auto auto auto auto;
}
img{
    height:90px;
    width:90px;
}
